@font-face {
    font-family: 'MyCustomFont';
    src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
    font-weight: 500 800;
    font-style: normal;
}

:root{

    /*Primary*/

    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    /*Gradients*/

    --light_slate_blue__background: hsl(252, 100%, 67%);
    --light_royal_blue__background: hsl(241, 81%, 54%); 
    --violet_blue__circle: hsla(256, 72%, 46%, 1);      
    --persian_blue__circle: hsla(241, 72%, 46%, 0);

    /* Nuetral*/

    --white: hsl(0, 0%, 100%);
    --pale_blue: hsl(221, 100%, 96%);
    --light_lavender: hsl(241, 100%, 89%);
    --dark_gray_blue: hsl(224, 30%, 27%);

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'MyCustomFont', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    

}

.container{
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 760px;
    border-radius: 30px;
    box-shadow: 20px 20px 30px var(--pale_blue);
}

.result-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    background: linear-gradient(180deg, var(--light_slate_blue__background), var(--light_royal_blue__background));
    border-radius: 30px;

}

.result-card h2{
    font-size: 1.5rem;
    color: var(--light_lavender);
    margin: 20px;
    font-weight: 700;
}

.result-card .circle{

    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(180deg, var(--violet_blue__circle), var(--persian_blue__circle));
}

.result-card .circle .score{
    font-size: 4rem;
    margin-top: 40px;
    color: var(--white);
    text-align: center;
    font-weight: 700;

}

.result-card .circle .score span{
    text-align: center;
    color: var(--light_lavender);
    font-size: 1rem;
    display: block;
}

.result-card .bottom-text{
    color: var(--white);
    font-size: 1.7rem;
    margin: 15px 0;

    
}

.result-card p{
    color: var(--light_lavender);
    font-size: 1rem;
    margin: 15px 0  30px 0;
    width: 200px;
    text-align: center;
}



.summary-card{
    width: 50%;
    padding: 40px;

}

.summary-card h2{
    font-size: 1.4375rem;
    font-weight: 700;
}

.summary-card .summary-card-box{
    display: flex;
    align-items: center;
    height: 55px;
    padding: 15px;
    margin: 18px 0;
    border-radius: 15px;

}

.red-box{
    color: var(--Light-red);
    background:hsl(0, 100%, 67%,0.048);
}
.yellow-box{
    color: var(--Orangey-yellow);
    background:hsl(39, 100%, 56%, 0.048);
}
.green-box{
    color: var(--Green-teal);
    background:hsl(166, 100%, 37%, 0.048);
}
.blue-box{
    color: var(--Cobalt-blue);
    background:hsl(234, 85%, 45%,0.048);
}

.summary-card-box img{
    height: 18px;
    margin-right: 10px;
}

.summary-card-box p{
    flex-grow: 2;
}

.summary-card-box .score{
    font-weight: 800;
    color:hsl(0, 0%, 0%);
}

.summary-card-box span{
    color:hsl(0, 0%, 0%,0.486);

}


.summary-card .btn{
    width: 100%;
    height:55px;
    font-size: 1.1rem;
    align-items: center;
    color: var(--white);
    background: var(--dark_gray_blue);
    border-radius: 35px;
    border: none;
    margin: 10px 0 0 10px;
    font-weight: 500;
    cursor: pointer;
}

.summary-card .btn:hover {
    background:linear-gradient(var(--dark_gray_blue),var(--light_royal_blue__background));
    color:var(--white);
}


@media (max-width: 375px) {
    .container {
        width: 100%; 
        padding: 20px;
        flex-direction: column;

    }

    .result-card, .summary-card {
        width: 100%; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

