@font-face {
    font-family: 'MyCustomFont';
    src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

root{

    /*Primary*/

    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    /*Gradients*/

    --light_slate_blue__background: hsl(252, 100%, 67%);
    --light_royal_blue__background: hsl(241, 81%, 54%); 
    --violet_blue__circle: hsla(256, 72%, 46%, 1);      
    --persian_blue__circle: hsla(241, 72%, 46%, 0);

    

}


*{
    margin: 0;
    padding: 0;
}

